
<style>
    .footer {
        width: 100%;
        margin: 0 auto; 
        font-size: 12px;
        border-top: 1px solid #ddd;
        text-align: center;
        margin-top: 25px;
        padding: 20px 10px;
        color: #666;
        background-color: #eee;
    }
    .footer em {
        font-size: 12px;
        font-style: normal;
        color: #8c8c8c;
    }
</style>

<div class="footer">
    <p>温馨提示：请自行分辨广告真伪，投资有风险。网站不承担有关广告内容引起纠纷的连带责任。</p>
    <p>免责声明：本网站所有内容都是靠程序在互联网上自动搜集而来，仅供测试和学习交流。<br>网站为非赢利性站点，本网站所有内容均来源于互联网相关站点自动搜索采集信息，相关浅层链接已经注明来源。</p>
    <p>若侵犯了您的权益，请即时发邮件通知站长 万分感谢！</p>
    <em>Copyright ©2015-2017 <a href="/">www.damaoyy.com</a> All Rights Reserved · <a href="/xml/baidu.xml">百度地图</a> · <a href="/xml/google.xml">google地图</a> · <a href="/xml/rss.xml">rss订阅</a> <script language="javascript" type="text/javascript" src="//js.users.51.la/19172961.js"></script>
        <noscript><a href="//www.51.la/?19172961" target="_blank"><img alt="我要啦免费统计" src="//img.users.51.la/19172961.asp" style="border:none" /></a></noscript><a href="/">大猫电影网</a></em>
</div>
