<!DOCTYPE html>
<html>
<head>
	
    {{template "header.tpl" .}}

    <style type="text/css">
        
    .content{
        padding-top: 2px;
        padding-bottom: 40px;
        background-color: #efeff4;
    }
    .content .item{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align:center;
        -webkit-box-align:center;
        box-align:center;
        -webkit-align-items:center;
        align-items:center;
        padding:3.125%;
        /*border-bottom: 1px solid #ddd;*/
        color: #333;
        text-decoration: none;

        border-radius: 10px;
        background: #fff;
        margin: 12px 15px;
    }
    .content .item img{
        display: block;
        width: 40px;
        height: 40px;
        border:1px solid #ddd;
        /*display: none;*/
    }
    .content .item h3{
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
        max-height: 40px;
        overflow: hidden;
        line-height: 20px;
        margin: 0 0px;
        font-size: 1.5rem;

        margin-left: 10px;
    }
    .content .item .date{
        display: block;
        height: 20px;
        line-height: 20px;
        color: #999;

        margin-left: 10px;
    }
    .opacity{
        -webkit-animation: opacity 0.3s linear;
        animation: opacity 0.3s linear;
    }
    @-webkit-keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    @keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    .btn-primary {
        display: none;
    }

    </style>

    <link rel="stylesheet" href="/static/css/dropload.css">

</head>
<body onload="load()">

	<div class="header">
	    <h1>列表</h1>
	</div>
	<div class="content">
	    <div class="lists">
	        <!-- <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>1文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>2文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>3文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>4文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>5文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>6文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>7文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>8文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>9文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>10文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>11文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a>
	        <a class="item" href="#">
	            <img src="http://d6.yihaodianimg.com/N02/M0B/81/5A/CgQCsVMhX_mAAvXsAAJDE3K2zh485900_80x80.jpg" alt="">
	            <h3>12文字描述文字描述文字描述文字描述文字描述</h3>
	            <span class="date">2014-14-14</span>
	        </a> -->
	    </div>
	</div>
	<div class="footer">
	    <a href="#1" class="item">测试菜单</a>
	    <a href="#2" class="item">只做展示</a>
	    <a href="#3" class="item">无功能</a>
	    <a href="#4" class="item">不用点</a>
	</div>


<!-- jQuery1.7以上 或者 Zepto 二选一，不要同时都引用 -->
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/dropload.min.js"></script>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<!-- <script src="https://code.jquery.com/jquery.js"></script> -->

<script>

function load(){
    $.ajax({
                type: 'GET',
                async: true,
                url: "http://spider.dcloud.net.cn/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at",//location.href + '/search?page=1&size=10',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    for(var i = 0; i < data.length; i++){
                        // result +=   '<a class="item opacity" href="'+data.Lists[i].Link+'">'
                        //                 +'<img src="'+data.Lists[i].Pic+'" alt="" >'
                        //                 +'<div style="width: 100%;">'
                        //                     +'<h3 class="title">'+data.Lists[i].Title+'</h3>'
                        //                     +'<span class="date">'+data.Lists[i].Date+'</span>'
                        //                 +'</div>'
                        //                 +'<button type="button" class="btn btn-primary">我要报名</button>'
                        //             +'</a>';

                        result += getTextHtml(data, i);
                    }
                    $('.lists').html(result);

                    // setDropload();
                },
                error: function(xhr, type){

                }
            });
}


// http://spider.dcloud.net.cn/api/news?published_at=2018-12-09 12:24:38

// http://127.0.0.1:8080/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at&minId=77178&time=1544330724143&pageSize=10
// http://127.0.0.1:8080/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at&minId=77188&time=1544330666310&pageSize=10
// http://127.0.0.1:8080/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at


$(function(){
    // 页数
    var page = 0;
    // 每页展示10个
    var size = 10;
    // dropload
    $('.content').dropload({
        scrollArea : window,
        domUp : {
            domClass   : 'dropload-up',
            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
            domUpdate  : '<div class="dropload-update">↑释放更新</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
        },
        domDown : {
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData  : '<div class="dropload-noData">暂无数据</div>'
        },
        loadUpFn : function(me){
            // alert("下拉刷新...");
            $.ajax({
                type: 'GET',
                async: true,
                url: "http://spider.dcloud.net.cn/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at",//location.href + '/search?page=0&size=10',
                dataType: 'json',
                success: function(data){
                    var result = '';
                    for(var i = 0; i < data.length; i++){
                        // result +=   '<a class="item opacity" href="'+data.Lists[i].Link+'">'
                        //                 +'<img src="'+data.Lists[i].Pic+'" alt="" >'
                        //                 +'<div style="width: 100%;">'
                        //                     +'<h3 class="title">'+data.Lists[i].Title+'</h3>'
                        //                     +'<span class="date">'+data.Lists[i].Date+'</span>'
                        //                 +'</div>'
                        //                 +'<button type="button" class="btn btn-primary">我要报名</button>'
                        //             +'</a>';

                        result += getTextHtml(data, i);
                    }


                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        $('.lists').html(result);
                        // 每次数据加载完，必须重置
                        me.resetload();
                        // 重置页数，重新获取loadDownFn的数据
                        page = 0;
                        // 解锁loadDownFn里锁定的情况
                        me.unlock();
                        me.noData(false);


                        $(".dropload-down").find(".dropload-refresh").text("暂无数据")


                    },1);
                },
                error: function(xhr, type){
                    // alert('top, Ajax error!');
                    // 即使加载出错，也得重置
                    // me.resetload();
                }
            });
        },
        loadDownFn : function(me){
            // alert("加载更多...");

            // console.log($(".lists>a:last-child>div>span").html())
            // console.log($(".lists>a:last-child").attr("id"))
            // console.log($(".lists>a:first-child").attr("id"))

            

            var minId = $(".lists>a:last-child").attr("id");
            var time = new Date().getTime() + "";
            var params = "&minId=" + minId + "&time=" + time + "&pageSize=10";

            if (minId == undefined) {
                params = "";
            }


            page++;
            // 拼接HTML
            var result = '';
            $.ajax({
                type: 'GET',
                async: true,
                // 127.0.0.1
                url: "http://spider.dcloud.net.cn/api/news?column=id%2Cpost_id%2Ctitle%2Cauthor_name%2Ccover%2Cpublished_at" + params,//location.href + '/search?page='+page+'&size='+size,
                dataType: 'json',
                success: function(data){
                    var arrLen = data.length;
                    if(arrLen > 0){
                        for(var i=0; i<arrLen; i++){
                            // result +=   '<a class="item opacity" href="'+data.Lists[i].Link+'">'
                            //                 +'<img src="'+data.Lists[i].Pic+'" alt="" >'
                            //                 +'<div style="width: 100%;">'
                            //                     +'<h3 class="title">'+data.Lists[i].Title+'</h3>'
                            //                     +'<span class="date">'+data.Lists[i].Date+'</span>'
                            //                 +'</div>'
                            //                 +'<button type="button" class="btn btn-primary">我要报名</button>'
                            //             +'</a>';

                            result += getTextHtml(data, i);
                        }
                    // 如果没有数据
                    }else{
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        // 插入数据到页面，放到最后面
                        $('.lists').append(result);
                        // 每次数据插入，必须重置
                        me.resetload();
                    },1);
                },
                error: function(xhr, type){
                    // alert('bottom, Ajax error!');
                    // 即使加载出错，也得重置
                    // me.resetload();
                }
            });
        },
        threshold : 50
    });
});



function getTextHtml(data, i) {
    return '<a id="' + data[i].id + '" class="item opacity" href="/detail?id='+data[i].post_id+'&published_at=' + dateUtils.format(data[i].published_at) + '">'
                +'<img src="'+data[i].cover+'" alt="" >'
                +'<div style="width: 100%;">'
                    +'<h3 class="title">'+data[i].title+'</h3>'
                    +'<span class="date">'+dateUtils.format(data[i].published_at)+'</span>'
                +'</div>'
                +'<button type="button" class="btn btn-primary">我要报名</button>'
            +'</a>';
}



/**
 * 格式化时间的辅助类，将一个时间转换成x小时前、y天前等
 */
var dateUtils = {
    UNITS: {
        '年': 31557600000,
        '月': 2629800000,
        '天': 86400000,
        '小时': 3600000,
        '分钟': 60000,
        '秒': 1000
    },
    humanize: function(milliseconds) {
        var humanize = '';
        $.each(this.UNITS, function(unit, value) {
            if(milliseconds >= value) {
                humanize = Math.floor(milliseconds / value) + unit + '前';
                return false;
            }
            return true;
        });
        return humanize || '刚刚';
    },
    format: function(dateStr) {
        var date = this.parse(dateStr)
        var diff = Date.now() - date.getTime();
        if(diff < this.UNITS['天']) {
            return this.humanize(diff);
        }
        var _format = function(number) {
            return(number < 10 ? ('0' + number) : number);
        };
        return date.getFullYear() + '/' + _format(date.getMonth() + 1) + '/' + _format(date.getDay()) + '-' + _format(date.getHours()) + ':' + _format(date.getMinutes());
    },
    parse: function(str) { //将"yyyy-mm-dd HH:MM:ss"格式的字符串，转化为一个Date对象
        var a = str.split(/[^0-9]/);
        return new Date(a[0], a[1] - 1, a[2], a[3], a[4], a[5]);
    }
};
</script>

</body>
</html>