<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<video id="player_html5_api" x5-video-player-fullscreen="true" type="video/mp4" preload="auto" autoplay="autoplay" style="width: 100%; height: 100%;" src="http://v1-dy.ixigua.com/c0e5d8162343b111b6d84ed9946aa634/5be7e210/video/m/22093ad5b8cf4b641128339e48ae61f9e68115e8d0a000086df69b01d40/?rc=MzRpdm9kZ3M2aTMzZWkzM0ApQHRoaGR1KTY2PDQ0MzQzMzQzNDQ0NDVvQGgzdSlAZjN1KXB6YnMxaDFwekApNTRkZGUxZTJnNm1lXy0tNC0wc3MtbyNqdDppNkIwMC0vNS0uMC8yLi41LTojbyM6YS1xIzpgYmJeZl5fdGJiXmA1Ljo%3D" controls poster="http://p1.pstatp.com/large/11149000747e48563595a.jpeg"></video>

	<!-- <video id="media" src="http://v1-dy.ixigua.com/c0e5d8162343b111b6d84ed9946aa634/5be7e210/video/m/22093ad5b8cf4b641128339e48ae61f9e68115e8d0a000086df69b01d40/?rc=MzRpdm9kZ3M2aTMzZWkzM0ApQHRoaGR1KTY2PDQ0MzQzMzQzNDQ0NDVvQGgzdSlAZjN1KXB6YnMxaDFwekApNTRkZGUxZTJnNm1lXy0tNC0wc3MtbyNqdDppNkIwMC0vNS0uMC8yLi41LTojbyM6YS1xIzpgYmJeZl5fdGJiXmA1Ljo%3D" controls width="400px" heigt="400px"></video> -->
</body>
</html>